.wrapper
  position: relative
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  align-items: center
  gap: 1.5em
  width: 100%
  min-height: 100vh
  padding: 1em

.header
  display: flex
  flex-flow: column
  align-items: center
  justify-content: center
  gap: 1.5em

.footer
  display: flex
  flex-flow: column nowrap
  gap: 1em
  justify-content: center
  align-items: center

.chartCard
  width: min(30em, 50vw)
  height: 40vh
