.list
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  gap: 0.6em

.row
  display: flex
  flex-flow: column nowrap
  gap: 0.15em
  align-items: center
  min-width: 0

.subtitle
  font-size: 0.75em
  line-height: 1.2em
  text-align: center
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  max-width: 100%
  margin: 0
