.list
  display: flex
  flex-flow: column wrap
  gap: 0.6em

.row
  display: flex
  flex-flow: row nowrap
  gap: 0.8em
  align-items: center

.subtitle
  font-size: 1.1em
  line-height: 1.2em
  text-align: center
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
  margin: 0
