.wrapper
  display: flex
  flex-flow: column
  gap: 1em
  justify-content: center
  color: white

.timeWrapper
  display: flex
  flex-flow: row
  align-items: flex-end
  text-align: right
  font-family: monospace

  .head
    font-size: calc(5.5em * var(--size, 1))
    width: 5ch
    line-height: 0.7

  .decorator
    font-size: calc(1.5em * var(--size, 1))
    margin-left: 4px
