.wrapper
  position: relative
  min-height: 100vh
  display: flex
  flex-flow: row
  align-items: center
  justify-content: space-between
  gap: 1em
  padding: 1.5em

.graph
  flex: 1
  height: 45vh

.diffWrapper
  padding: 0.6em
  margin-left: 0.6em
  display: flex
  flex-flow: column
  justify-content: space-between
  gap: 1em
