.wrapper
  position: relative
  display: flex
  flex-flow: column
  justify-content: space-evenly
  gap: 1em
  width: 100%
  min-height: 100vh
  padding: 1em

.top
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: center
  gap: 2.5em

.footer
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: space-evenly
  gap: 1.5em
