.eventList
  display: flex
  flex-flow: column
  gap: 0.5em

.eventWrapper
  display: flex
  justify-items: flex-start

.header
  display: grid
  grid-template-columns: 4em auto auto
  align-items: center
  gap: 0.8em
  white-space: nowrap

.timeRemain
  text-align: right
  font-size: 1em
  margin: 0

.dot
  width: 0.6em
  aspect-ratio: 1
  border-radius: 50%

.name
  font-size: 1.1em
  line-height: normal
  text-align: left
  width: 12em
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  margin: 0
