.row
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  gap: 0.3em

.ring
  display: flex
  flex-flow: column
  align-items: center
  gap: 0.5em

.dayLabel
  font-size: 0.6rem
  font-weight: 500
  opacity: 0.6
  text-transform: uppercase
