.wrapper
  color: white
  position: relative
  display: flex
  flex-flow: column
  align-items: center
  gap: 5px
  line-height: normal

.header
  position: relative
  display: flex
  flex-flow: row
  justify-content: center
  align-items: center
  gap: 0.8em

.trend
  align-self: flex-end
  text-align: center
  font-size: 0.9rem
  opacity: 0.8

.trendArrow
  font-size: 0.7rem
